@import "~bootstrap/scss/bootstrap.scss";

$base-color: #a0d7ef;
$light-color: #fbfaf9;
$dark-color: #2f9ed1;
$light-accent: #b6bb98;
$dark-accent: #84a8d6;

.my-flix {
  background-color: $light-color;
}

.navbar {
  background-color: $dark-color;
}

.logo.navbar-brand {
  padding-left: 20px;
  color: $light-color;
}

.logout.nav-link.btn.btn-primary:hover {
  background-color: $base-color;
}

.navigate-link.nav-link:hover {
  color: $light-color;
}
