@import "~bootstrap/scss/bootstrap.scss";

$base-color: #a0d7ef;
$light-color: #fbfaf9;
$dark-color: #2f9ed1;
$light-accent: #b6bb98;
$dark-accent: #84a8d6;

.my-flix {
  background-color: $dark-color;
}

#main-view-div {
  padding: 3px;
  margin: 3px;
}

#main-view-title:hover {
  cursor: pointer;
  border: 3px solid black;
  padding: 5px;
}
